# Deduper CUDA dependencies
# Uses CUDA-enabled PyTorch wheels

--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple
torch~=2.7.0
torchvision~=0.22.0

-r requirements-base.txt
